doctype html
html(ng-app='thaw')
    head
        title Thaw
        meta(name='viewport', content='width=device-width, user-scalable=no')
        script(type='text/javascript', src='http://code.angularjs.org/1.2.26/angular.min.js')
        script(type='text/javascript', src='http://code.angularjs.org/1.2.26/angular-route.min.js')
        script(type='text/javascript', src='https://cdn.firebase.com/js/client/1.0.21/firebase.js')
        script(type='text/javascript', src='https://cdn.firebase.com/libs/angularfire/0.8.2/angularfire.min.js')
        script(type='text/javascript', src='http://platform.twitter.com/widgets.js')
        script(type='text/javascript', src='/js/app.min.js')
        link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/app.min.css')
    body
        nav.nav.navbar-default.navbar-static-top
            .navbar-inner
                .nav-center
                    a(href='/')
                        img(src='/img/logo.png', width='152', height='25')
        .container-fluid(ng-controller='MainController')
            center
                div(ng-view)
