doctype html
html(ng-app='thaw')
    head
        title Thaw
        meta(name='viewport', content='width=device-width, user-scalable=no')
        meta(property='og:url', content='http://gothaw.co/')
        meta(property='og:title', content='Thaw')
        meta(property='og:description', content='Join Thaw today! Help make Seattle (and the world) a friendlier, more connected place and find personal enrichment through our fun, daily challenges.')
        meta(property='og:image', content='http://gothaw.co/img/logo300x300.png')
        meta(property='og:image:type', content='image/png')
        meta(property='og:image:width', content='300')
        meta(property='og:image:height', content='300')

        script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js')
        script(type='text/javascript', src='//code.angularjs.org/1.2.26/angular.min.js')
        script(type='text/javascript', src='//code.angularjs.org/1.2.26/angular-route.min.js')
        script(type='text/javascript', src='//code.angularjs.org/1.2.26/angular-cookies.min.js')
        script(type='text/javascript', src='//cdn.firebase.com/js/client/1.0.21/firebase.js')
        script(type='text/javascript', src='//cdn.firebase.com/libs/angularfire/0.8.2/angularfire.min.js')
        script(type='text/javascript', src='//crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js')
        script(type='text/javascript', src='/js/app.min.js')
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/app.min.css')
    body
        nav.nav.navbar-default.navbar-static-top
            .navbar-inner
                .nav-center
                    a(href='/')
                        img(src='/img/logo.png', width='152', height='25')
        .container-fluid(ng-controller='MainController', ng-init='getEngagement()')
            center
                div(ng-view)

        script.
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
