h2 Let's warm up Seattle!
p Welcome to Thaw!  Our mission:  to create friendlier communities.  Participate in our daily challenges to connect with people and spread happiness.
.buttons
    a.btn.btn-default(href='/task') Get started
