h2 Profile
h4 {{ emailAddress }}
img(src='{{ gravatarUrl }}')
p
.achivement(ng-show='hand') You've completed Lend a Hand!
.achivement(ng-show='gossip') You've completed Good Gossip!
.achivement(ng-show='note') You've completed Leave a Note!
.achivement(ng-show='compliment') You've completed Compliment!
.achivement(ng-show='smile') You've completed Smile!

.buttons
    a.btn.btn-default(ng-click='doAnother()') Do another one
