h2 Awesome. How'd it go?

.buttons
    a.btn.btn-default(ng-click='logCompletion("great")') Great!
    a.btn.btn-default(ng-click='logCompletion("ok")') Just ok.
    a.btn.btn-default(ng-click='logCompletion("notWell")') Not so well.
