h4.date {{ date }}
h2 {{ engagement.title }}
p.left {{ engagement.instructions }} {{ engagement.body }}
.count(ng-if='completions.length == 1') {{ completions.length }} person has completed this task today.
.count(ng-if='completions.length > 1') {{ completions.length }} people have completed this task today.
.buttons
    a.btn.btn-default(href='/survey') Done
    a.btn.btn-default(href='/tips') Tips
    //- a.btn.btn-default(href='https://twitter.com/hashtag/gothaw') Tweets
    //- a(class='twitter-timeline' href='https://twitter.com/hashtag/gothaw', data-widget-id='518527977844273153')
